* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}

body {
	font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#header {
	background-color: #73B29D;
	padding: 0px 100px;
}

.prolificlogo {
	width: 100px;
	height: 30px;
	margin-top: 20px;
}

.title1 {
	float: left;
}

.navlist {
	float:right;
	margin: 30px 0px;
}

.navlist li {
	display: inline-block;
	margin: 0px 15px 0px 15px;
}

.navlist li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 15px;
}

.lastli-menu {
	text-decoration: none;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 15px;
	border: 2px solid white;
	padding: 8px 10px;
	border-radius: 5px;
}

.lastli-menu:hover {
	color: #73B29D;
	background-color: white;
}

.tapamenuresponsive {
	display: none;
	height: 100%;
	width: 100%;
	background-color: #73B29D;
}

.section1 {
	background: linear-gradient(340deg,#bdc6cf 15%,#e0e4e9 40%,#e9ecef 85%);
	display: block;
}

.miniwrapper1 {
	display: inline-block;
	vertical-align: top;
	margin: 90px 0px 50px 103px;
	width: 600px;
}

.title1 {
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
	font-size: 40px;
	line-height: 1.4;
	margin-right: 75px;
	opacity: 0.8;
}

.titlemargin {
	margin-bottom: 30px;

}

.text1 {
	display: block;
	font-size: 23px;
	line-height: 1.4;
	opacity: 0.5;
}

.btn1 {
	display: block;
	width: 250px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: #5FCA71;
	border: 2px solid #5FCA71;
	text-decoration: none;
	padding: 22px 17px;
	margin: 35px 0px;
	text-align: center;
	border-radius: 5px;
}

.btn1:hover {
	background-color: #5FCA71;
	color: white;
	border: 2px solid #5FCA71;
}

.img1 {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	padding: 0px;
	margin: 13% 5%;
	margin-top: 7%;
}

.img1small {
	display: none;
}

.section2 {
	background-color: white;
	text-align: center;
	padding: 50px 0px;
}

.img2 {
    width: 100px;
    margin: 10px 10px;
    height: 30px;
}

.articshoreslogo {
	height: 20px; 

}

.cancerlogo {
	width: 95px;
}

.cambridgelogo {
	height: 25px;
}

.line {
	color: #D3D3D3;
}

.section3 {
	background-color: white;
	text-align: center;
	padding: 50px 0px;
}

.question1 {
	display: block;
	font-size: 30px;
	margin: 10px 0px;
	opacity: 0.8;
}

.statement1 {
	display: block;
	font-size: 35px;
	margin: 20px 0px;
	font-weight: bold;
}

.down_arrow1 {
    border: solid #D3D3D3;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 50px;
}

.down_arrow2 {
    border: solid #D3D3D3;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.article1 {
	float:left;
	background-color: #30547A;
	text-align: center;
	width: 50%;
}

.article2 {
	float:right;
	background-color: #6CB598;
	width: 50%;
	text-align: center;
}

.text2 {
	display: block;
	font-size: 40px;
	color: white;
	margin: 50px;
	padding: 0px 60px 0px 60px;
}

.img3 {
	width: 200px;
	height: 200px;
}

.btn2 {
	display: block;
	width: 250px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: white;
	border: 2px solid white;
	text-decoration: none;
	padding: 22px 17px;
	text-align: center;
	margin: 60px auto;
	border-radius: 5px;
}

.btn2:hover {
	background-color: white;
	color: #6CB598;
	border: 2px solid white;
}

.btn4 {
	display: block;
	width: 250px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: white;
	border: 2px solid white;
	text-decoration: none;
	padding: 22px 17px;
	text-align: center;
	margin: 60px auto;
	border-radius: 5px;
}

.btn4:hover {
	background-color: white;
	color: #30547A;
	border: 2px solid white;
}

.section4 {
	background-color: white;
	text-align: center;
	padding: 10px 0px;
}

.section4 hr {
	margin-top: 70px;
}

.ol1 li p {
	color: white;
	font-size: 22px;
	padding: 20px 120px;
}

.title2 {
	background-color: white;
	color: #30547A;
	font-size: 30px;
	padding: 30px 0px;
}

.title3 {
	background-color: white;
	color: #6CB598;
	font-size: 30px;
	padding: 30px 0px;
}

.img4 {
	width: 70px;
	height: 70px;
	text-align: center;
	margin: 40px 10px 10px 10px;
}

.section5 {
	background-color: white;
	text-align: center;
	padding: 10px 0px;
}

.article3 {
	display: inline-block;
	vertical-align: top;
	background-color: white;
	text-align: center;
	width: 550px;
	padding: 30px 50px;
	line-height: 1.2;
}

.article3 p {
	font-size: 20px;
	margin: 20px;
}

.article3 span {
	font-size: 20px;
	font-weight: bold;
}

#footer {
	background-color: #292D36;
	padding: 100px 100px 100px 120px;
	color: #dfdfdf;
	font-size: 14px;
}

.footercol {
	display: inline-block;
	vertical-align: top;
	margin-left: 80px;
}

.footercol4 {
	text-align: right;
	display: inline-block;
	vertical-align: top;
	margin-left: 100px;
}

.footercol4 h3 {
	margin-bottom: 20px;
}

.footercol ul li {
	color: #9a9999;
}

.footercol4 ul li {
	color: #9a9999;
}

.footercol h3 {
	margin-bottom: 20px;
}

.prolificlogofoot {
	width: 100px;
	height: 30px;
}

.clear {
	clear:both;
}

/* Responsive queries */
/* For mobile phones and landscape: */
@media only screen and (max-width: 768px) {
	#wrapper {
		width: 100%;
	}
	#header {
	padding: 0px;
	margin: 0px;
	}
	.navlist li {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	}
	.section1 {
		text-align: center;
		padding: 0% 9%;
	}
	.miniwrapper1 {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	}

	.title1 {
	font-size: 35px;
	width: 100%;
	margin-top: 30px;
	}

	.text1 {
	display: inline-block;
	vertical-align: top;
	font-size: 20px;
	line-height: 1.4;
	opacity: 0.5;
	}
	.btn1 {
	width: 80%;
	margin-top: 10px;
	margin: 40px auto;
	text-align: center;
	}
	.img1 {
	display: none;
	}
	.img1small {
	display: inline-block;
	vertical-align: top;
	max-width: 80%;
	margin: 50px 40px 0px 40px;
	}
	.article1, .article2 {
		width: 100%;
	}
	.text2 {
	display: block;
	font-size: 30px;
	color: white;
	margin: 10px;
	padding: 20px;
	}
	.ol1 li p {
	color: white;
	font-size: 20px;
	padding: 10px 60px;
	}
	.article3 {
		width: 100%;
	}
	.footercol {
		width: 100%;
		margin: 10px 0px;
	}
	.footercol4 {
		width: 100%;
		text-align: center;
		margin: 20px 0px;
	}
	#footer {
	padding: 40px 30px;
	}
}
 /* For tablets and desktops: */
@media only screen and (min-width: 769px) {
	.section1{
		text-align: left;
		padding: 0%;
	}
	.miniwrapper1 {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		margin-top: 10%;
		margin-left: 3%;
		margin-bottom: 0%;
		margin-right: 0%;
	}
	.img1small {
		display: none;
	}
	.img1 {
		display: inline-block;
		vertical-align: top;
		width: 30%;
		padding: 0px;
		margin:13% 7%;
	}

}

@media only screen and (min-width: 1024px) {
.section1 {
	background: linear-gradient(340deg,#bdc6cf 15%,#e0e4e9 40%,#e9ecef 85%);
	display: block;
}

.miniwrapper1 {
	display: inline-block;
	vertical-align: top;
	margin: 0%;
	width: 70%;
}

.title1 {
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
	font-size: 40px;
	line-height: 1.4;
	margin-right: 10%;
	opacity: 0.8;
}

.titlemargin {
	margin-bottom: 5%;
	margin-top: 10%;
	margin-left: 13%;	

}

.text1 {
	display: block;
	font-size: 23px;
	line-height: 1.4;
	opacity: 0.5;
	padding-right: 15%;
	padding-left: 13%;
}

.btn1 {
	display: block;
	width: 250px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: #5FCA71;
	border: 2px solid #5FCA71;
	text-decoration: none;
	padding: 22px 17px;
	margin: 6% 13%;
	text-align: center;
	border-radius: 5px;

}

.btn1:hover {
	background-color: #5FCA71;
	color: white;
	border: 2px solid #5FCA71;
}

.img1 {
	display: inline-block;
	vertical-align: top;
	width: 27%;
	margin: 0px;
	padding-right: 5%;
	margin-top: 8%;
}

.img1small {
	display: none;
}

}
